<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <maileon2>
            <general>
                <active>0</active>
                <apikey backend_model="Magento\Config\Model\Config\Backend\Encrypted"></apikey>
                <doikey></doikey>
                <doiplus>0</doiplus>
            </general>
            <connection>
                <verfiypeer>0</verfiypeer>
                <timeout>10</timeout>
                <forcetls12>1</forcetls12>
            </connection>
        </maileon2>
    </default>
</config>