<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_newsletter_manage_save">
        <observer name="vendor_module_requirelogin"
                  instance="Loewenstark\Maileon2\Observer\Predispatch\Newsletter\Manage\Save" />
    </event>
</config>