<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="loewenstark" sortOrder="999" translate="label">
            <label>Loewenstark</label>
        </tab>
        <section id="maileon2" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Maileon</label>
            <tab>loewenstark</tab>
            <resource>Loewenstark_Maileon2::config_loewenstark_maileon2</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Active</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="apikey" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="obscure">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment></comment>
                </field>
                <field id="doikey" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
                    <label>DOI / Double Opt-In Key</label>
                    <comment>(Optional)</comment>
                </field>
                <field id="doiplus" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
                    <label>Use DOI+ / Double Optin Plus</label>
                    <comment>(Optional: DOI is enabled by Default)</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="connection" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
                <label>Connection</label>
                <field id="verfiypeer" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Verify SSL/TLS</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="forcetls12" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
                    <label>Force TLS Version 1.2</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="timeout" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
                    <label>Timeout</label>
                    <comment>(Default: 10)</comment>
                </field>
            </group>
        </section>
    </system>
</config>